.block{
  border: 1px solid;
  background: url(../img/bg.jpg);
  text-align: center;
}
.menu-block{
  border: 1px solid;
  width: 150px;
  min-height: 150px;
  margin-top: 5px;
  margin-left: 5px;
  background-color: grey;
}
table{
	margin-top: 10px;
}
.log{
	border: 1px solid;
	height: 200px;
	width: 300px;
	background: grey;
	float: right;
	margin-top: -290px;
}
.logout{
	display:none;
	float: right;
	margin-top: -290px;
}
