    <form name="editTeacherForm" novalidate>
       	<div class="editDiv">
       		
       	</div>
        <input type="button" ng-click="editTeach()" value="Редагувати вчителя" ng-disabled="editTeacherForm.$invalid">
	</form>
	





<!--

<input type="text" name="editNameTeacher" ng-model="editNameTeacher" required>

        <span style="color:red" ng-show="editTeacherForm.editNameTeacher.$touched && editTeacherForm.editNameTeacher.$invalid">
                перевірка на пусте поле   
                    <span ng-show="editTeacherForm.editNameTeacher.$error.required">Пусте поле</span>
        </span>

        <input type="text" name="editSnameTeacher" ng-model="editSnameTeacher" required>
        <span style="color:red" ng-show="editTeacherForm.editSnameTeacher.$touched && editTeacherForm.editSnameTeacher.$invalid">
                перевірка на пусте поле   
                    <span ng-show="editTeacherForm.editSnameTeacher.$error.required">Пусте поле</span>
        </span>-->
