<div>
    <h1>Загально-освітня школа №25</h1>
    <div class="menu-block">
        <h3>Меню</h3>
        <input type="button" class="btn btn-default" ng-click="teachersStart()" value="Вчителі"><br><br>
        <input type="button" class="btn btn-default" ng-click="classroomStart()" value="Класи"><br><br>
        <input type="button" class="btn btn-default" ng-click="pupilsStart()" value="Всі Учні"><br><br>
        <input type="button" class="btn btn-default" ng-click="searchPupil()" value="Пошук учня"><br><br>
    </div>
</div>
