<div ng-show="teachersStatus">
   <input type="button" value="AddTeacher" class="btn btn-success" ng-click="addTeachers()">
   <input type="button" value="AddColumn" class="btn btn-success" ng-click="addColumn()">
   <input type="button" value="Close" class="btn btn-danger" ng-click="closeTeachers()">
    <table border="1" align="center" class="table-hover tbl-t">
      <thead>
       <tr>
       	<th ng-repeat="a in columnForTeachers track by $index">{{a.name}}</th>
       </tr>
		</thead>
      <tbody>
       
        <tr ng-repeat="a in teachers track by $index">
            <td ng-repeat="(key, value) in a">{{value}}</td>
            <td><input type="button" class="btn btn-danger" value="Видалити" ng-click="deleteTeacher(a.id)"></td>
            <td><input type="button" class="btn btn-warning" value="Редагувати" ng-click="editTeacher($index)"></td>
        </tr>
		</tbody>
    </table>
</div>
